<!--
####################################################################################################################
                                        ABOVE IS THE HEADER
####################################################################################################################
-->

<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/status">Status</a></li>
    </ol>
</section> <!-- /.content-header -->

<section class="content-header">
    <h1>
        Status dos Projetos Atrasados
    </h1>
</section> <!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">

                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nome Projeto</th>
                                <th>Data Incício</th>
                                <th>Data Fim</th>
                                <th>Andamento</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$projectslate"}
                                <tr>
                                    <td>{$value.idproject}</td>
                                    <td>{$value.desproject}</td>
                                    <td>{$value.dtstart}</td>
                                    <td>{$value.dtfinish}</td>
                                    <td>{$value.rtproject}%</td>
                                    <td>{$value.stproject}</td>
                                </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div> <!-- /.box-body -->

            </div>
        </div>
    </div>
</section> <!-- /.content -->

<section class="content-header">
    <h1>
        Status dos Projetos Não Atrasados
    </h1>
</section> <!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">

                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome Projeto</th>
                            <th>Data Incício</th>
                            <th>Data Fim</th>
                            <th>Andamento</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop="$projectslate"}
                        <tr>
                            <td>{$value.idproject}</td>
                            <td>{$value.desproject}</td>
                            <td>{$value.dtstart}</td>
                            <td>{$value.dtfinish}</td>
                            <td>{$value.rtproject}%</td>
                            <td>{$value.stproject}</td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div> <!-- /.box-body -->

            </div>
        </div>
    </div>
</section> <!-- /.content -->

<!--
####################################################################################################################
                                        BELOW IS THE FOOTER
####################################################################################################################
-->