<!--
####################################################################################################################
                                        ABOVE IS THE HEADER
####################################################################################################################
-->

<!-- Content Header (Page header) -->
<section class="container">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fas fa-tachometer-alt"></i> Home</a></li>
        <li class="active"><a href="/status">Status</a></li>
    </ol>
</section> <!-- /.content-header -->

<section class="container">
    <h1>
        Projetos Atrasados
    </h1>
</section> <!-- /.content-header -->

<!-- Main content -->
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">

                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 10px"><a href="/order/status/sordid">#</a></th>
                                <th><a href="/order/status/sordproj">Nome Projeto</a></th>
                                <th><a href="/order/status/sordini">Data Incício</a></th>
                                <th><a href="/order/status/sordfim">Data Fim</a></th>
                                <th><a href="/order/status/sordrate">Rate</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {loop="$projectslate"}
                                <tr>
                                    <td>{$value.idproject}</td>
                                    <td>{$value.desproject}</td>
                                    <td>{function="formatDate($value.dtstart)"}</td>
                                    <td>{function="formatDate($value.dtfinish)"}</td>
                                    <td>{$value.rtproject}%</td>
                                </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div> <!-- /.box-body -->

            </div>
        </div>
    </div>
</section> <!-- /.content -->

<section class="container">
    <h1>
        Projetos Não Atrasados
    </h1>
</section> <!-- /.content-header -->

<!-- Main content -->
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px"><a href="/order/status/nordid">#</a></th>
                            <th><a href="/order/status/nordproj">Nome Projeto</a></th>
                            <th><a href="/order/status/nordini">Data Incício</a></th>
                            <th><a href="/order/status/nordfim">Data Fim</a></th>
                            <th><a href="/order/status/nordrate">Rate</a></th>
                        </tr>
                        </thead>
                        <tbody>
                            {loop="$projectsnotlate"}
                                <tr>
                                    <td>{$value.idproject}</td>
                                    <td>{$value.desproject}</td>
                                    <td>{function="formatDate($value.dtstart)"}</td>
                                    <td>{function="formatDate($value.dtfinish)"}</td>
                                    <td>{$value.rtproject}%</td>
                                </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div> <!-- /.box-body -->

            </div>
        </div>
    </div>
</section> <!-- /.content -->

<!--
####################################################################################################################
                                        BELOW IS THE FOOTER
####################################################################################################################
-->