<!--
####################################################################################################################
                                        ABOVE IS THE HEADER
####################################################################################################################
-->

<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/tasks">Tarefas</a></li>
    </ol>
</section> <!-- /.content-header -->

<section class="content-header">
    <h1>
        Lista de Tarefas
    </h1>
</section> <!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="col-xs-4">
                        <a href="/tasks/create" class="btn btn-success">Cadastrar Tarefa</a>
                    </div>

                    {if="$error != ''"}
                    <div class="col-xs-8">
                        <div class="box-header bg-red">
                            {$error}
                        </div>
                    </div>
                    {/if}

                    {if="$success != ''"}
                    <div class="col-xs-8">
                        <div class="box-header bg-green">
                            {$success}
                        </div>
                    </div>
                    {/if}
                </div> <!-- /.box-header -->

                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px"><a href="/tasks/ordid">#</a></th>
                            <th><a href="/tasks/ordtask">Nome Tarefa</a></th>
                            <th><a href="/tasks/ordproj">Nome Projeto</a></th>
                            <th><a href="/tasks/ordini">Data Incício</a></th>
                            <th><a href="/tasks/ordfim">Data Fim</a></th>
                            <th><a href="/tasks/ordsit">Situação</a></th>
                            <th style="width: 140px">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop="$tasks"}
                        <tr>
                            <td>{$value.idtask}</td>
                            <td>{$value.destask}</td>
                            <td>{$value.desproject}</td>
                            <td>{function="formatDate($value.dtstart)"}</td>
                            <td>{function="formatDate($value.dtfinish)"}</td>
                            <td>
                                {if="$value.sttask == 0"}
                                    <a href="/tasks/{$value.idtask}/situation" class="btn btn-success btn-xs"><i class="fa fa-folder-open"></i> Aberto </a>
                                {else}
                                    <a href="/tasks/{$value.idtask}/situation" class="btn btn-danger btn-xs"><i class="fa fa-folder"></i> Fechado</a>
                                {/if}
                            </td>
                            <td>
                                <a href="/tasks/{$value.idtask}/update" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>
                                <a href="/tasks/{$value.idtask}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                            </td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div> <!-- /.box-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="product-pagination text-center">
                <nav>
                    <ul class="pagination">

                        {loop="$pages"}
                        <li><a href="{$value.link}">{$value.page}</a></li>
                        {/loop}

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section> <!-- /.content -->

<!--
####################################################################################################################
                                        BELOW IS THE FOOTER
####################################################################################################################
-->