<section class="container">
    <ol class="breadcrumb">
        <li><a href="/abascp1"><i class="fas fa-tachometer-alt"></i> Home</a></li>
        <li class="active"><a href="/abascp1/status">Status</a></li>
    </ol>
</section>
<section class="container">
    <h1>
        Projetos Atrasados
    </h1>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px"><a href="/abascp1/order/status/sordid">#</a></th>
                            <th><a href="/abascp1/order/status/sordproj">Nome Projeto</a></th>
                            <th><a href="/abascp1/order/status/sordini">Data Incício</a></th>
                            <th><a href="/abascp1/order/status/sordfim">Data Fim</a></th>
                            <th><a href="/abascp1/order/status/sordrate">Rate</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop="$projectslate"}
                        <tr>
                            <td>{$value.idproject}</td>
                            <td>{$value.desproject}</td>
                            <td>{function="formatDateS($value.dtstart)"}</td>
                            <td>{function="formatDateS($value.dtfinish)"}</td>
                            <td>{$value.rtproject}%</td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <h1>
        Projetos Não Atrasados
    </h1>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px"><a href="/abascp1/order/status/nordid">#</a></th>
                            <th><a href="/abascp1/order/status/nordproj">Nome Projeto</a></th>
                            <th><a href="/abascp1/order/status/nordini">Data Incício</a></th>
                            <th><a href="/abascp1/order/status/nordfim">Data Fim</a></th>
                            <th><a href="/abascp1/order/status/nordrate">Rate</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop="$projectsnotlate"}
                        <tr>
                            <td>{$value.idproject}</td>
                            <td>{$value.desproject}</td>
                            <td>{function="formatDateS($value.dtstart)"}</td>
                            <td>{function="formatDateS($value.dtfinish)"}</td>
                            <td>{$value.rtproject}%</td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>